---
const { title, site, color, imageUrl, published, tags, twitter } = Astro.props;

const gradient = color
  ? `linear-gradient(0deg, rgba(0, 0, 0, 1) 20%, ${color} 100%)`
  : "linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%)";

const date = published.toLocaleDateString("fr-FR", {
  year: "numeric",
  month: "2-digit",
  day: "2-digit"
});
const tagList = tags.map((tag: string) => tag).join(", ");
const subtitle = date + (tags.length > 0 ? ` | ${tagList}` : "");
---

<div
  style={{ color: "#eaeae7" }}
  class="flex h-full w-full relative"
>
  <div
    style={{ background: gradient, filter: "contrast(100%) saturate(150%)" }}
    class="flex absolute top-0 left-0 w-full h-full"
  >
  </div>
  {
    imageUrl && (
      <img
        src={imageUrl}
        alt=""
        style={{
          objectFit: "cover",
          filter: "grayscale(100%) contrast(200%) saturate(150%) opacity(20%)"
        }}
        class="absolute top-0 right-0 w-full h-full"
      />
    )
  }
  <p
    set:html={site}
    style={{ fontFamily: "Freckle Face", transform: "rotate(-4deg)" }}
    class="absolute top-0 left-0 px-10 py-8 text-5xl my-0"
  />
  <div class="flex flex-col absolute top-0 left-0 w-full h-full justify-end">
    <div
      set:html={title}
      class="text-5rem font-bold leading-[1.125] w-full px-10 py-6 border-b-2 border-[#eaeae7]"
      style={{ whiteSpace: "pre-wrap", textWrap: "balance" }}
    />
    <div
      set:html={subtitle}
      class={`text-2.5rem leading-[1.125] w-full px-10 py-4 ${twitter && "border-b-2"} border-[#eaeae7]`}
      style={{ whiteSpace: "pre-wrap", textWrap: "balance" }}
    />
    {twitter && <div class="flex py-17 w-full" />}
  </div>
</div>
